.form-cadastro-medicamentos{
    display: inline-block;
    background-color: rgb(226, 219, 219);
    border: solid 3px;
    border-radius: 20px;
    border-color: black;
    text-align: center;
    margin-top: 40px;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-group-medicamento{
    display: inline-block;
    text-align: left;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-left: 20%;
    margin-right: 12%;
    padding-top: 25px;
    padding-bottom: 15px;
}

.text-cadastro-medicamentos{
    text-align: center;
    margin-top: 45px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}


.label-cadastroMedicamento{
    color: black;
    margin-left: 25px;
    margin-right: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.input-cadastroMedicamento{
    background: white;
    color: black;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 2px;
    padding: 8px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    left: 25px;
    top: 15px;
    width: 350px;
}

.button-cadastro-medicamento{
    text-align: center;
    border-radius: 8px;
    margin: 18px;
    margin-bottom: 25px;
    padding: 15px;
    margin-top: 60px;
    margin-left: 30%;
}
