.title-header{
    background-color: rgb(165, 119, 207);
    text-align: center;
    color: black;
}

.text-header{
    font-size: 50px;
}
.link-lista-farmacias{
    margin-left: 18%;
    color: black;
}
.link-cadastro-farmacias{
    margin-left: 20px;
    color: black;
}
.link-lista-medicamento{
    margin-left: 20px;
    color: black;
}

.link-cadastro-medicamento{
    margin-left: 20px;
    color: black;
}
.link-login{
    margin-left: 20px;
    color: black;
}