.table-farmacias{
    color: black;
    text-align: center;
}
.text-lista-farmacias{
    color: black;
    text-align: center;
    font-size: 45px;
    margin-top: 25px;
}
.link-cadastro-farmacia{
    color: black;
    text-align: center;
    font-size: 25px;
}