.form-novoUsuario{
    display: block;
    background-color: rgb(214, 210, 210);
    border: solid 3px;
    border-radius: 3px;
    border-color: black;
    text-align: center;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.text-novo-usuario{
     display: block;
    color: black;
    text-align: center;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.label-novoUsuario-name{
    display: block;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.input-novoUsuario-name{
    background: white;
    color: black;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.label-novoUsuario-email{
    display: block;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.input-novoUsuario-email{
    background: white;
    color: black;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.label-novoUsuario-usuario{
    display: block;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.input-novoUsuario-usuario{
    background: white;
    color: black;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.label-novoUsuario-senha{
    display: block;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.input-novoUsuario-senha{
    background: white;
    color: black;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Button-cadastro-novoUsuario{
    background-color: white;
    color: black;
    padding: 8px;
    margin-top: 15px;
    border: solid 2px;
    border-radius: 5px;
}
